header {
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid black;
  text-align: right;
}

.new-btn {
  margin-right: 20px;
}

.post {
  padding: 10px;
}

.buttons {
  display: flex;
}

.edit-btn {
  font-size: 15px;
  color: blue;
  text-decoration: none;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 15px;
}

.delete-btn {
  color: red;
}
